body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Roboto";
}

.header,
.descriptionContent,
.footer {
    background-color: #1F2937;
}

.quote {
    background-color: #E5E7EB;
}

.header {
    height: 60px;
    display: flex;
}

.descriptionContent {
    display: flex;
    height: 470px;
}

.heroContent {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.information {
    height: 500px;
}

.quote {
    height: 350px;
}

.footer {
    height: 100px;
}

.signUp {
    flex-grow: 4;
    height: 150px;
}

.heroSignUp {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    border: 0;
    margin: 0;
    width: 125px;
    padding: 5px;
    border-radius: 5px;
}
.blankSpace {
    width: 200px;
}

.headerContent {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.headerLink {
    color: #E5E7EB;
    font-size: 18px;
}

.headerLogo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.heroTextContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
}

.heroMainText {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
}

.heroSecondaryText {
    color: #E5E7EB;
    font-size: 18px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.informationHeader {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding: 50px;
}

.informationContent {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.pixelInfoContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pixelArt {
    width: 160px;
    height: 160px;
}

.pixelContainer {
    border: 4px solid #3882F6;
    border-radius: 25px;
    width: 160px;
    height: 160px;
}

.pixelArtInfo {
    width: 168px;
    font-size: 18px;
    color: #4b5563;
    text-align: center;
}

.reindeer {
    width: auto;
    height: 400px;
    object-fit: cover;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    gap: 25px;
}

a {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}